[master]
master ansible_host=${master_public_ip}

[workers]
%{ for idx, ip in worker_private_ips ~}
worker${idx + 1} ansible_host=${ip}
%{ endfor ~}
[workers:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o ProxyCommand="ssh -W %h:%p -i ~/.ssh/k3s-ollama -o StrictHostKeyChecking=no ubuntu@${master_public_ip}"'